@import "./global.css";
@import "../components/card.css";
/* !important; */
h1 {
  color: hotpink;
}

h1 {
  color: #ff4a11;
  color: yellow;
}

/* .title {
  color: purple;
}

#headline {
  color: green;
} */
